<span class="close button" data-remove="question">×</span>
<label for="question-{{id}}" class="control-label editable">{{text}}</label>

<div class="controls">
  <% (1..5).each do |i| %>
      <label class="radio inline">
        <input type="radio" value="<%=i%>" name="question-{{id}}" id="question-{{id}}_<%= i %>" data-score="<%=i%>" required="true">
          <%="☹ pessimo" if i == 1 %>
          <%="☺ ottimo" if i == 5 %>
      </label>
  <% end %>
</div>